[Unit]
Description=Gluster mount for nomad jobs
SourcePath=/etc/fstab
Before=remote-fs.target docker.service nomad.service

[Mount]
What=172.16.20.202:/volumes
here=/mnt/volumes
ype=glusterfs
Options=defaults,_netdev,backupvolfile-server=172.16.20.203

[Install]
WantedBy=multi-user.target
