export NOMAD_ADDR=http://clarkson.bakos.lan:4646
export NOMAD_VAR_tld=bakos.me
export NOMAD_VAR_auth_host=auth.bakos.me
export NOMAD_VAR_volumes=/mnt/data/volumes
export NOMAD_VAR_downloads_dir=/mnt/media/downloads
export NOMAD_VAR_movies_dir=/mnt/media/movies
export NOMAD_VAR_tv_dir=/mnt/media/tv
export NOMAD_VAR_media_dir=/mnt/media
